@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kameron&display=swap');
@import url('http://fonts.cdnfonts.com/css/jsmath-cmmi10');


*, *::before, *::after {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    text-decoration: none;
	list-style: none;
}

img {
    max-width: 100%;
}

.overall-container {
    height: 100vh;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
    position: relative;
}

.flex-container {
    display: flex;
    position: absolute;
    bottom: 20rem;
    right: -5rem;
    width: 100%;
}

.left-container {
    width: 40%;
}

.unsuccessful-container {
    margin-top: 4em;
}

.email-link-container {
    margin-top: 7.5em;
}

.right-container {
    width: 40%;
    margin-left: 3em;
    padding: 3em 0 0em;
    height: 73vh;
    border-radius: 2rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2), 0 8px 8px -6px #840C98, 10px 0 5px -1px #E5E4E2;
}

.logo-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1em;
}

.logo-content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.logo-first-text {
    margin-top: 2em;
    font-size: 2rem;
    font-family: 'jsMath-cmmi10', sans-serif;
    color: #000000;
    font-style: cmmi10;
    font-weight: 500;
    Fill: Solid;
}

.logo-text {
    font-size: 2rem;
    font-family: 'Kameron', serif;
    color: #840C98;
    font-weight: 400;
    line-height: 1.5rem;
    Fill: Solid;
}

.xeno-image {
    width: 2.5rem;
    margin-bottom: .2em;
}

.verified-success {
    text-align: center;
    margin-bottom: 1em;
}

.verified-icon {
    width: 7rem;
}

.success-content {
    text-align: center;
    margin-bottom: 3.5em;
}

.success-head {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #4A454B;
    font-weight: 700;
    Fill: Solid;
}

.success-msg {
    font-size: 1rem;
    font-family: 'Outfit', sans-serif;
    color: #746565;
    font-weight: 400;
    Fill: Solid;
    margin-top: 1.5em;
}

.success-action {
    text-align: center;
}

.success-button {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    Fill: Solid;
    background: #C333DB;
    border: none;
    padding: .5em 1.8em;
    border-radius: 1.5rem;
    cursor: pointer;
}




/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Outfit', sans-serif; */
/* font-family: 'Kameron', serif; */
/* font-family: 'jsMath-cmmi10', sans-serif; */