* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FCF7FC;
}

header {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    visibility: hidden;
}

.first {
    text-align: center;
    margin-top: 73px;
    /* border: 1px solid brown; */
}

.know {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.privacy {
    font-family: 'Oswald', sans-serif;
    margin-top: 23px;
    font-size: 96px;
    /* border: 1px solid orange; */
}

.first button {
    background-color: #AE1DC7;
    color: #FFFFFF;
    margin-top: 8px;
    padding: 0 10px;
    height: 39px;
    border: none;
    border-radius: 3px;
}

.website {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    text-align: center;
    width: 100%;
    font-size: 32px;
    margin-top: 132px;
}

.plenty {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 100%;
    max-width: 1166px;
    height: 100%;
    max-height: 1152px;
    margin: 0 auto;
    margin-top: 31px;
}

.look {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    margin-top: 86px;
    text-align: center;
}

.faq {
    color: #C264D2;
}

footer {
    height: 385px;
    /* border: 1px solid indigo; */
    margin-top: 76px;
}

.footer-one {
    height: 260px;
    border: 1px solid #D69ADF;
    background: linear-gradient(#AE1DC7, #D69ADF);
}

.footer-subone {
    margin: 60px;
    height: 121px;
    /* border: 1px solid cadetblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub {
    /* border: 2px solid pink; */
    color: #fff;
    height: 121px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new {
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    padding-top: 10px;
    /* padding-bottom: 12px; */
}

.buttons {
    /* border: 1px solid darkblue; */
    width: 530px;
    height: 72px;
    display: flex;
    justify-content: center;
}

#mail {
    /* border: 1px solid fuchsia; */
    width: 376px;
    background-color: #D69ADF;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
}

#outline {
    padding-left: 15px;
    padding-right: 20px;
}

.footer-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reserve {
    padding-right: 60px;
}

.empty {
    visibility: hidden;
}

#click {
    width: 122px;
    margin-left: 32px;
    background-color: #FFFFFF;
    color: #AE1DC7;
    border: none;
    border-radius: 5px;
}
