*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}
@import url('http://fonts.cdnfonts.com/css/roboto');
.container-header{
    display: flex;
    padding: 1rem;
}                
header{
    display: flex;
    border: 1px hidden rgb(0,0,0);
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.logo{
    display: flex;
    width: 8%;
}
.logo>img{
    /* padding: 1rem; */
}
.header-text{
    display: flex;
    width: 77%;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
.header-text p{
    line-height: 23px;
    text-align: left;
}
.header-icons{
    display: flex;
    width: 15%;
    align-items: center;
}
.header-icons p{
    white-space: nowrap;
    text-overflow: clip;
}
/* DISPLAY NONE WHEN ENTRANT IS SIGNED IN */
.logged-in{
    display:flex;
    width: 100%;
    align-items: center;
}
.logged-in button{
    background-color:#CD8CD8;
    height: 55px;
    width: 57%;
    border-radius: 2px;
    padding: 1rem;
    border: hidden;
}
.logged-in a{
    text-decoration: none;
    color: #ffffff;
    white-space: nowrap;
}
/* GET THIS WHEN THE ENTRANT IS SIGNED IN */
.signed-in{
    display:none;
    align-items: center;
    margin-right: 10px;
    gap: 2rem;
    height: 49px;
    width: 119px;
    border-radius: 0px;
}