*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
  width: 100%;
}

.container-navbar{
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Style the navigation menu */
header {
    overflow: hidden;
    background-color:#ffffff;
    position: relative;
    width: 100%;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  header #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  header a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    background-color: #b235b2;
  }

  header>img{
    background-color: #b235b2;
    padding:14px 16px ;
  }

  header .row>img:hover{
    background-color: #ddd;
    color: black
  }

  header li:hover{
    background-color: #ddd;
    color: black
  }

  #myLinks{
    background-color: #b235b2;
  }

  header #myLinks{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  nav{
    display: flex;
    position: relative;
    margin-left: 1em;
    width: 18%;
  }

  ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 3rem;
  }

 ul:last-child{
    margin-bottom: 3rem;
 }

  li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    width: 100%;
  }

  li img{
    width: 11%;
    display: flex;
  }
  
  li a{
    width: 70%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin: 0;
    white-space: nowrap;
  }
  /* Style the hamburger menu */
  header a.icon {
    background:#AE1DC7;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Style the top icon */
.logo{
  padding-left: 1rem;
}
  /* Add a grey background color on mouse-over */
   header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }

  #span{
    margin-top:1rem ;
    position: relative;
    margin-right: 77em;
  }
  
  /* Style the close icon */
  .row img{
    margin: 0 0 1rem 0;
    width: 1.5rem;
  }
  
  .row{
    padding-top:.5rem;
  }
  /* Media Responsiveness */
  @media screen and (max-width:1200px){
    .row{
      padding-left: 1rem ;
    }
  }
  @media screen and (max-width:768px) {
    .row{
      padding: auto;
      margin: 0 1rem;
    }
    li img{
      display: none;
    }
    li a{
      margin-right: 4em;
      text-align: left;
    }
  }
